CommonLogin {
    com.wabalogic.security.loginmodule.CommonLoginModule required
	datasource="java:comp/env/medical"
	sql-find-authentication-details="select user_password, user_status_id, date_account_begins, date_account_expires, date_password_expires, last_name, first_name, email from ibt_security_user where user_name = ?"
	sql-find-roles="select r.role_name from ibt_security_user u, ibt_security_role r, ibt_security_user_role ur where u.user_id = ur.user_id and r.role_id = ur.role_id and u.user_name = ?"
	sql-find-permissions="select p.permission_name from ibt_security_role r, ibt_security_permission p, ibt_security_role_permission rp where rp.permission_id = p.permission_id and rp.role_id = r.role_id and r.role_name = ?"
	use-permissions-as-roles=true
	default-roles="can-access-clinical-images-for-clinical-use"
	default-permissions="everyone";
};

LdapLogin {
    com.wabalogic.security.loginmodule.LDAPLoginModule required
	datasource="java:comp/env/medical"
	sql-find-authentication-details="select user_password, user_status_id, date_account_begins, date_account_expires, date_password_expires, last_name, first_name, email from ibt_security_user where user_name = ?"
	sql-find-roles="select r.role_name from ibt_security_user u, ibt_security_role r, ibt_security_user_role ur where u.user_id = ur.user_id and r.role_id = ur.role_id and u.user_name = ?"
	sql-find-permissions="select p.permission_name from ibt_security_role r, ibt_security_permission p, ibt_security_role_permission rp where rp.permission_id = p.permission_id and rp.role_id = r.role_id and r.role_name = ?"
	use-permissions-as-roles=true
	default-roles=""
	default-permissions="everyone"
	ldap-host="192.168.101.133"
	ldap-port="3268"
	ldap-base-dn="o=sevenSeas"
	ldap-find-group-mode="1"
	ldap-user="uid=admin,ou=system"
	ldap-password="secret"
	ldap-group-filter="HMS"
	role-prefix="HMS"
	use-ssl="false";
};

ClientLogin {
    com.wabalogic.security.loginmodule.SinglePrincipalLoginModule required
	datasource="java:comp/env/medical"
	identity="medical-loader"
	password="ibase"
	roles="everyone,can-upload-general-images,can-upload-clinical-images,can-edit-images,can-create-patients,can-create-jobs";
};
